[submodule "PSSnow"]
	path = PSSnow
	url = https://github.com/cherichita/PSSnow.git
	branch = 1.4.0
[submodule "servicenow-midtools"]
	path = servicenow-midtools
	url = https://github.com/cherichita/servicenow-midtools.git
	branch = main
